<ion-header text-center>
    <ion-navbar>
        <ion-title>
            <img src="assets/imgs/songbirdlogo.png" class="logo">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!loading">
        <ion-card>
            <ion-slides pager>
                <ion-slide padding>
                    <ion-card-header text-center>
                        <h2 class="momentsWeekTitle">Moments this week:</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="number">
                            {{allWeekTexts.length}}
                        </div>
                    </ion-card-content>
                </ion-slide>
                <ion-slide padding>
                    <ion-card-header text-center>
                        <h2 class="momentsWeekTitle">All moments:</h2>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="number">
                            {{allTexts.length}}
                        </div>
                    </ion-card-content>
                </ion-slide>
            </ion-slides>
        </ion-card>
    </div>

    <div class="allContent" on-swipe="swipeEvent($event)">
        <div *ngIf="loading" class="loading">
            <lottie-animation-view [options]="lottieLoadingConfig" [width]="300" [height]="300" (animCreated)="handleAnimation($event)">
            </lottie-animation-view>
        </div>
        <div *ngIf="allTexts.length == 0 && !loading">
            <ion-card padding text-center>
                <h2>No moments yet! Swipe left and click the button to record a moment :)</h2>
            </ion-card>
        </div>

        <div *ngIf="allTexts.length > 0 && !loading &&!failed">
            <ion-card padding>
                <ion-list no-lines>
                    <ion-item *ngFor="let text of allTexts" text-wrap>
                        <h2>{{text.momentTitle}}</h2>
                        <p>{{text.createdOn | date}}</p>
                        <br>
                        <div *ngIf="text.momentText.length <= 40">
                            <p>{{text.momentText}}</p>
                        </div>
                        <div *ngIf="truncating && text.momentText.length > 40">
                            <p>{{text.momentText | truncate: 40}}</p>
                            <button ion-button (click)="truncating = false"><ion-icon name="add"></ion-icon></button>
                        </div>
                        <div *ngIf="!truncating && text.momentText.length > 40">
                            <p>{{text.momentText}}</p>
                            <button ion-button (click)="truncating = true">show less</button>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-card>

            <div *ngIf="text">
                <div *ngIf="truncating && text.length > limit">
                    {{text | truncate : 40}}
                    <button ion-button (click)="truncating = false">show more</button>
                </div>
                <div *ngIf="!truncating && text.length > limit">
                    {{text}}
                    <button ion-button (click)="truncating = true">show less</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>