page-landing {

      .homeLogo {  
        position: relative;
        left: 0;
        right: 0;
        margin: 50% auto;
      }

      // #log {
      //   animation: enterForm 2s forwards;
      //   opacity: 0;
      // }

      // #reg {
      //   animation: enterForm 2s forwards;
      //   opacity: 0;
      // }

      .loginButton {
        padding-top: 70px;
        width: 120px;
        margin: 0 auto;
      }

      .registerButton {
        padding-top: 40px;
      }
}