<ion-header text-center>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/songbirdlogo.png" class="logo">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding (swipe)="swipeEvent($event)">
  <div class="allContent" on-swipe="swipeEvent($event)">

      <div *ngIf="failed" text-center padding>
          <div class="allContent" on-swipe="swipeEvent($event)">
              <lottie-animation-view [options]="lottieFailedConfig" [width]="300" [height]="300" (animCreated)="handleAnimation($event)">
              </lottie-animation-view>
              <h1>Oops! </h1>
              <p>Something went wrong fetching your profile. Try again in a bit, or contact support for help.</p>
          </div>
      </div>

    <div *ngIf="loading && !failed">
      <lottie-animation-view [options]="lottieLoadingConfig" [width]="300" [height]="300" (animCreated)="handleAnimation($event)">
      </lottie-animation-view>
    </div>

    <div text-center *ngIf="!loading && !failed" class="nameContent">
      <h1 class="name">{{currentUser.firstname}} {{currentUser.lastname}}</h1>

      <div class="emailContent">
        <ion-row>
          <ion-col col-2>
            <span class="header">Email</span>
          </ion-col>
          <ion-col col-10 text-wrap>
            <span class="emailText">{{currentUser.email}}</span>
          </ion-col>
        </ion-row>
      </div>

      <div class="logoutButton">
          <button ion-button round block color="orange" id="login" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</ion-content>