<ion-header text-center>
  <ion-navbar>
    <ion-title (click)="navToHome()">
      <img src="assets/imgs/songbirdlogo.png" class="logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="background">
  <div class="allContent" on-swipe="swipeEvent($event)">

    <!-- <div *ngIf="clicked">
        <button ion-button round class="smallButtonLeft" large (touchend)="record()">
            <ion-icon name="mic" large></ion-icon>
        </button>
      </div> -->



    <div>
      <!-- <button ion-button round class="bigButton" (press)="switchRecord()" (tap)="record()" *ngIf="voiceRecord && !recording">
          <ion-icon name="mic" large class="buttonIcons"></ion-icon>
      </button> -->
      <!-- <button ion-button round class="bigButton" (tap)="stopRecord()" *ngIf="voiceRecord && recording">
          <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300" (animCreated)="handleAnimation($event)" class="micAnim"> </lottie-animation-view>
      </button> -->

      <button ion-button round class="bigButton" (press)="switchRecord()" (tap)="type()" *ngIf="!recording">
        <ion-icon name="create" large class="buttonIcons"></ion-icon>
      </button>

      <!-- <button ion-button (click)="uploadRecording()">Upload recording</button> -->
    </div>

    <!-- <div *ngFor="let item of audioList">
      <button ion-button (click)="playAudio()">Play</button>
    </div> -->

    <!-- <div *ngIf="clicked">
        <button ion-button round class="smallButtonRight" large (touchend)="type()">
            <ion-icon name="create" large></ion-icon>
        </button>
      </div> -->

    <!-- <ion-card>
        <ion-card-content>
          <ion-card-title>
            <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
            <button ion-button primary (click)="record()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
          </ion-card-title>
        </ion-card-content>
      </ion-card> -->


    <!-- <div>
      <ion-list>
        <ion-item *ngFor="let audio of audioList; index as i;">
          <p>{{audio.filename}}</p>
          <button ion-button clear item-end large (click)="playAudio(audio.filename, i)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </div> -->
  </div>
</ion-content>